name: Deploy Portfolio

on:
  push:
    branches: [main]

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: . # Deploy từ thư mục gốc
          branch: gh-pages
          token: ${{ secrets.GITHUB_TOKEN }}
          clean: true
          clean-exclude: |
            .nojekyll
            CNAME
